<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/adminIndex.css"> 
<body>
  <nav class="navAdmin">
    <a class="btnIngresar" href="/admin/index"><img class="logoAdmin" src="/images/admin/LOGO.png" alt="logo"></a>
    
    <ul>
        <li><a class="btn-newp" href="/admin/index">Productos</a></li>
        <li><a class="btn-newp" href="/admin/users">Usuarios</a></li>
        <li><a class="btn-newp" href="/">Home</a></li>
        <li><a class="btn-newp" href="/admin/addProduct">Nuevo</a></li>
        <li><a href="/users/logout" class="logoutAdmin">Cerrar Sesion <i class="fas fa-sign-out-alt"></i></a></li>
    </ul>
    <form action="/admin/index/search" class="adminSearchForm">
        <input type="search" name="buscador">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
</nav>
    <section class="admin-section">
        <table class="adminP-table">
            <thead>
              <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Categoría</th>
                
                <th>Precio</th>
                <th>Descuento</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
      <h2 id="tituloProd">Productos</h2>
                <% productdb.forEach(product => { %>
                  <tr class="tablerow-admin">
                      <td><%= product.id %> </td>
                      <td><%= product.name %></td>
                      <td><%= product.category.name %></td>
                      <td><%= product.price %></td>
                      <td><%= product.discount %></td>
                      <td><a href="/admin/changeProduct/<%=product.id %> "><i class="fas fa-user-edit"></i></a></td>
                      <td><form action="/admin/deleteProduct/<%= product.id %>?_method=DELETE" method="POST">
                        <button onclick="if (!confirm('Desea eliminar el producto: <%= product.name %> ?')) { return false }" type="submit"  class="delete-product"><i class="fas fa-trash"></i></button>
                    </form></td>
                    </tr>
                <% }) %> 
            </tbody>
          </table>
    </section>
</body>
</html>