<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/adminIndex.css"> 
    <body class="adminBody">
      <header class="adminHeaderMobile">
        <h1>ADMIN</h1>
        <div id="menuAdminButton" class="hamburger hamburger--spring">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </header>
      <aside id="menuLateralAdmin" class="adminMenuHide">
        <nav class="navAdmin">
          <a class="btnIngresar" href="/admin/index"><img class="logoAdmin" src="/images/admin/LOGO.png" alt="logo"></a>
          <form action="/admin/index/search" class="adminSearchForm">
            <input type="search" name="buscador">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
          <ul>
              <li><a class="btn-newp" href="/admin/index">Productos</a></li>
              <li><a class="btn-newp" href="/admin/users">Usuarios</a></li>
              <li><a class="btn-newp" href="/">Home</a></li>
              <li><a class="btn-newp" href="/admin/addProduct">New prod</a></li>
              <li><a href="/users/logout" class="logoutAdmin">Cerrar Sesion <i class="fas fa-sign-out-alt"></i></a></li>
          </ul> 
      </nav>
      </aside>
    
      <section class="admin-section">
        
         
       
         <section class="totaldb">
           
           <div>
            <p class="totaladm"><%= usersdb.length %></p> 
            <h3>Total de usuarios en la db. </h3>
            
          </div>
          <div>
            <i class="fas fa-users"></i>
          </div>
          </section>
          <h2 class="tituloUsers">Usuarios</h2>
        <table class="adminP-table">
            <thead>
              <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>rol</th>
                <%if (admin.rol == 2) {%>
                  <th>Editar</th>
                <th>Eliminar</th>
                  <%}%>
              </tr>
            </thead>
            <tbody>
                <% usersdb.forEach(user => { %>
                  <tr class="tablerow-admin">
                      <td><%= user.id %> </td>
                      <td><%= user.first_name + " " + user.last_name  %></td>
                      <td><%= user.rol == 0 ? "USER" : user.rol == 1 ? "ADMIN" :"S.ADMIN"  %></td>
                      <%if (admin.rol == 2) {%>
                        <td><a href="/users/useredit/<%=user.id %>"><i class="fas fa-user-edit"></i></a></td>
                        <td><form action="/admin/deleteUser/<%= user.id %>?_method=DELETE" method="POST">
                          <button onclick="if (!confirm('Desea eliminar el usuario: <%= user.name %> ?')) { return false }" type="submit"  class="delete-product"><i class="fas fa-trash"></i></button>
                      </form></td>
                        <%}%>
                    </tr>
                <% }) %> 
            </tbody>
          </table>
    </section>
</body>
</html>