<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/adminIndex.css"> 
<body>
  <nav class="navAdmin">
    <a class="btnIngresar" href="/admin/index"><img class="logoAdmin" src="/images/admin/LOGO.png" alt="logo"></a>
    
    <ul>
        <li><a class="btn-newp" href="#tituloProd">Productos</a></li>
        <li><a class="btn-newp" href="#tituloUsers">Usuarios</a></li>
        <li><a class="btn-newp" href="/">Home</a></li>
        <li><a class="btn-newp" href="/admin/addProduct">Nuevo</a></li>
        <li><a href="/users/logout" class="logoutAdmin">Cerrar Sesion <i class="fas fa-sign-out-alt"></i></a></li>
    </ul>
    <form action="/admin/users/search">
        <input type="search" name="buscador" id="buscador">
        <button type="submit"></button>
    </form>
</nav>
    <h2 id="tituloUsers">Usuarios</h2>
    <section class="admin-section">
        <table class="adminP-table">
            <thead>
              <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>rol</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
                <% usersdb.forEach(user => { %>
                  <tr class="tablerow-admin">
                      <td><%= user.id %> </td>
                      <td><%= user.first_name + " " + user.last_name  %></td>
                      <td><%= user.rol == 1 ? "ADMIN" : "USER" %></td>
                      <td><a href="/users/useredit/<%=user.id %>"><i class="fas fa-user-edit"></i></a></td>
                      <td><form action="/users/userdelete/<%= user.id %>?_method=DELETE" method="POST">
                        <button onclick="if (!confirm('Desea eliminar el producto: <%= product.name %> ?')) { return false }" type="submit"  class="delete-product"><i class="fas fa-trash"></i></button>
                    </form></td>
                    </tr>
                <% }) %> 
            </tbody>
          </table>
    </section>
</body>
</html>