<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %> 
<body class="body-main-newProduct">
    <main class="main-newProduct">
        <div class="titulo-newp">
            
            <h1 class="newp-title">Modificación de Producto</h1>
        </div>
        <section class="newp-container">
            <div class="form-container-np">
                <form action="/admin/changeProduct/<%= productoAModificar.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" value="<%= productoAModificar.name %> ">
                    <label  for="descripcion">Desripción</label>
                    <textarea name="descripcion" id="descripcion" cols="35" rows="10" ><%= productoAModificar.description %></textarea>
                    
                    <label for="imagen">Imagen</label>
                    <input type="file" name="imagenProducto" id="" multiple value="<%= productoAModificar.imagenProducto%>">
                    <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio" value=<%= `${productoAModificar.price}` %> >
                    <label for="discount">Descuento</label>
                    <input type="number" name="discount" id="discount" value=<%= `${productoAModificar.discount}` %> >
                    <label for="categorias">Categorias</label>
                    <select name="categorias" id="categorias" >
                        <option value="sol">Sol</option>
                        <option value="lectura">Lectura</option>

                    </select>
                    <button class="btn-newp" type="submit">Editar Producto<i class="fas fa-user-edit"></i></button>
                    
                </form>
                <form action="/admin/deleteProduct/<%= productoAModificar.id %>?_method=DELETE" method="POST">
                    <button class="delete-product" type="submit">Eliminar Producto<i class="fas fa-trash"></i></button>
                </form>
            </div>
            
        </section>
    </main>
</body>
</html>