<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %> 
<body class="body-product">
    <!-- HEADER -->
    <%- include('partials/header.ejs') %> 
    
    <!-- FIN DE HEADER -->

    <!-- <div class="banner">
        <img src="/images/productos/homebanner2021.jpg" alt="Bienvenido">
    </div> -->


    <main class="main">
        <section class="container-product">
            <article class="product-img"><img src="/images/product/<%= db.productImages[0].imgName %> " alt=`anteojos de <%= db.category %> ` ></article>
            
        
            <article class="product-info">
                <h2 class="product-name"><%= db.name %></h2>
                <h3 class="precio">Precio. $<%= db.price %></h3>
                <p class="btn-comprar">Comprar</p>
                
                <p class="description"><%= db.description %></p>
            </article>
        </section>
        <section class="estilo-container">
            
            <article class="contenedor-estilos">
                <!-- <div>
                    <img src="/images/productos/Gafas-de-sol-pareja1.jpg" alt="">
                    
                </div> -->
                <h2 class="estilo-titulo">Compartí tu estilo</h2>
                <ul class="social">
                    <li><i class="fab fa-facebook-square"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fas fa-share-alt"></i></li>
                </ul>
            </article>
            <div class="container-owb">
                <img src="/images/productos/gafaspareja3.jpg" alt="Avatar" class="image" >
                
                <div class="middle">
                  <div class="text"><a href="/products/<%= db.category.id %> ">Ver Más Modelos</a></div>
                </div>
              </div>    

        </section>
        <h2 class="reco">Productos Recomendados</h2>
        <!-- <section class="card-container">
            <% productsSim.forEach(product => { %>
                <article class="card1">
                    <img src="/images/product/<%- product.productImages[0].imgName %> " alt="Lentes de <%- product.category %> ">
                    <div class="product_info_card">
                        <h2 class="product-name"><%- product.name %></h2>
                        <h3 class="precio">Precio. $<%- product.price %></h3>
                        <p class="btn-comprar">Ver más</p>
                    </div>
                </article>
            <% }) %>
             
        </section> -->
        <section class="card-container1">
            <% productsSim.forEach(product => { %>
                <article class="cardFlexContainer">
                    <img src="/images/product/<%- product.productImages[0].imgName %> " alt="Lentes de <%- product.category %> " alt="lente elegido">
                    <div class="cardFlexInfo">
                        <p class="cardFlPrec">Precio. $<%- product.price %></p>
                        <h2><%- product.name %></h2>
                        
                        <p class="cardFlexDes"><%- product.description %></p>
                    </div>
        
                    <div class= "cardFlexAcctions">
                        <a href="">Comprar</a>
                        <a href="">Ver</a>
                        
                    </div>
                </article>
            <% }) %>
             
        </section>


        <%- include('partials/newsletter.ejs') %> 
    </main>



    
    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %> 
    
    <!-- FIN DE FOOTER -->
</body>
</html>