<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %> 
<body>
    <!-- HEADER -->
    <%- include('partials/header.ejs') %> 
    <div class="banner-searchResults">
        <img src="/images/productos/bannerSearch.jpg" alt="banner resultados de busqueda">
    </div>
    <!-- TITLE -->
    <h1 class="seachTitle" >Resultados de su busqueda</h1>
    <!-- NAVBAR -->
    <div class="navbar-search">
        <a href="#ifilter-menu">
        <div class="navbar-filter">
            <i class="fas fa-sliders-h">
            <span>Filtros</span>
        </i></div>
        </a>
        <div class="navbar-sort">
            <a href="#ifilter-sort">
                <span>Ordenar por</span>
            </a>
            <div class="sort-dsc"><i class="fas fa-sort-amount-down"></i></div>
            <div class="sort-asc"><i class="fas fa-sort-amount-up"></i></div>
        </div>
    </div>

    <div class="filter-menu" id="ifilter-menu">
        <div class="filter-container">
            <a href="#">
                <i class="fas fa-times"></i>
            </a>
            <form action="/search-filter" method="post">
                <h2>Categorias:</h2>
                <hr>
                <br>
                <label for="filter1">
                    <input type="checkbox" name="filter1" id="filter1">
                    Sol
                </label>
                <hr>
                <label for="filter2">
                    <input type="checkbox" name="filter2" id="filter2">
                    Lectura
                </label>
                <hr>
                <label for="filter3">
                    <input type="checkbox" name="filter3" id="filter3">
                    Color
                </label>
                <hr>
                <label for="filter4">
                    <input type="checkbox" name="filter4" id="filter4">
                    Material
                </label>
                <hr>
                <label for="filter5">
                    <input type="checkbox" name="filter5" id="filter5">
                    Forma
                </label>
                <hr>
                <input type="submit" value="Filtrar">
                <button type="reset">Resetear</button>
            </form>
        </div>
    </div>

    <div class="filter-menu" id="ifilter-sort">
        <div class="filter-container">
            <a href="#">
                <i class="fas fa-times"></i>
            </a>
            <form action="/search-filter" method="post">
                <h2>Ordenar por: </h2>
                <hr>
                <br>
                <label for=""></label>
                <label for=""></label>
            </form>
        </div>
    </div>

    <!-- CARD -->
    <main class="searchResultsMain">
        <aside class="container-aside-menu">
            <div class="title-aside">
                <h1>Filtros </h1>
            </div>
            <div >
                <h2>Categoria </h4>
                <hr>
                <ul>
                    <li class="cat-item">
                        <a href="/products/?categoria=sol"> 
                        <i class="far fa-square" id="cat-square"></i>
                        <span>  Sol </span>
                        </a>
                    </li>
                    <li class="cat-item">
                        <a href="/products/?categoria=lectura"> 
                        <i class="far fa-square" id="cat-square"></i>
                        <span>  Lectura </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h2> Forma </h4>
                <hr>
                <ul>
                    <li class="forma-item">
                        <a href="/products/?forma=aviador"> 
                        <i class="far fa-square" id="forma-square"></i>
                        <span>  Aviador </span>
                        </a>
                    </li>
                    <li class="forma-item">
                        <a href="/products/?forma=cuadrada"> 
                        <i class="far fa-square" id="forma-square"></i>
                        <span>  Cuadrada </span>
                        </a>
                    </li>
                    <li class="forma-item">
                        <a href="/products/?forma=deportivo"> 
                        <i class="far fa-square" id="forma-square"></i>
                        <span>  Deportivo </span>
                        </a>
                    </li>
                    <li class="forma-item">
                        <a href="/products/?forma=redonda"> 
                        <i class="far fa-square" id="forma-square"></i>
                        <span>  Redonda </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h2> Material </h4>
                <hr>
                <ul>
                    <li class="material-item">
                        <a href="/product/?material=acetato"> 
                        <i class="far fa-square" id="material-square"></i>
                        <span>  Acetato </span>
                        </a>
                    </li>
                    <li class="material-item">
                        <a href="/product/?material=ecologico"> 
                        <i class="far fa-square" id="material-square"></i>
                        <span>  Ecologico </span>
                        </a>
                    </li>
                    <li class="material-item">
                        <a href="/product/?material=maderametal"> 
                        <i class="far fa-square" id="material-square"></i>
                        <span>  Madera y metal </span>
                        </a>
                    </li>
                    <li class="material-item">
                        <a href="/product/?material=metal"> 
                        <i class="far fa-square" id="material-square"></i>
                        <span>  Metal </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div >
                <h2> Lentes </h4>
                <hr>
                <ul>
                    <li class="lentes-item">
                        <a href="/products/?lente=degrade"> 
                        <i class="far fa-square" id="lente-square"></i>
                        <span>  Degrade </span>
                        </a>
                    </li>
                    <li class="lentes-item">
                        <a href="/products/?lente=espejado"> 
                        <i class="far fa-square" id="lente-square"></i>
                        <span>  Espejado </span>
                        </a>
                    </li>
                    <li class="lentes-item">
                        <a href="/products/?lente=polarizado"> 
                        <i class="far fa-square" id="lente-square"></i>
                        <span>  Polarizado </span>
                        </a>
                    </li>
                    <li class="lentes-item">
                        <a href="/products/?lente=uniforme"> 
                        <i class="far fa-square" id="lente-square"></i>
                        <span>  Uniforme </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div >
                <h2>Ofertas </h4>
                <hr>
                <ul>
                    <li class="oferta-item">
                        <a href="/products/?oferta=liquidacion"> 
                        <i class="far fa-square" id="oferta-square"></i>
                        <span>  Liquidacion </span>
                        </a>
                    </li>
                    <li class="oferta-item">
                        <a href="/products/?oferta=express"> 
                        <i class="far fa-square" id="oferta-square"></i>
                        <span>  Oferta express </span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <section class="card-container">
            <% db.forEach(producto => { %>
                <article class="cardsearch">
                    <img class="card-img" src="/images/product/<%- producto.productImages[0].imgName %> " alt="LenteSolNegro">
                    <div class="product_info_card">
                        <h2 class="product-name"><%- producto.name %> </h2>
                        <div class="pricesCards">
                            <h3 class="precio"> $<%- producto.price-producto.price/100*producto.discount %></h3>
                        <% if (producto.discount != "") { %>
                            <del class="precio"> $<%- producto.price %> </del>
                        <% } %>
                        </div >
                        <a href="/products/productDetail/<%- producto.id %> "><p class="btn-comprar">Ver más</p></a>
                        <a href="/products/productDetail/<%- producto.id %> "><p class="btn-comprar">Agregar al carrito</p></a>
                    </div>
                </article>
            <% }) %>
        </section>
    <!-- NEWSLETTER -->
     <%- include('partials/newsletter.ejs') %> 
    </main>
    <!-- SCRIPT -->
    <%- include('partials/script.ejs') %> 
    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %> 
    <!-- FIN DE FOOTER -->
</body>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/javascripts/home/resultados.js"></script>
<script src="/javascripts/filtros.js"></script>
</html>