<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %> 
<body>
    <!-- HEADER -->
    <%- include('partials/header.ejs') %> 
    
    <!-- FIN DE HEADER -->
    <h1 class="seachTitle" >Resultados de su busqueda</h1>
    <main class="searchResultsMain">
        <section class="card-container">
            <% db.forEach(producto => { %>
                <article class="cardsearch">
                    <img src="/images/product/<%- producto.img[0] %> " alt="LenteSolNegro">
                    <div class="product_info_card">
                        <h2 class="product-name"><%- producto.name %> </h2>
                        <h3 class="precio">Precio $<%- producto.price %> </h3>
                        <p class="btn-comprar">Ver más</p>
                    </div>
                </article>
            <% }) %>
        </section>
        <div class="newsletter">
            <p class="news-title">¡Unite a nuestro newsletter!</p>
            <p class="news-info">Suscribite a nuestro newsletter y conocé todas nuestras novedades lanzamientos & promos</p>
            <form action="" class="news-input">
                <input type="text" placeholder=" Email...">
                <button type="submit">SUSCRIBIR</button>
            </form>
        </div>
    </main>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %> 
    
    <!-- FIN DE FOOTER -->
</body>
</html>