<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
    
</head>
<body class="profile-body">
    <!-- HEADER -->
    
    <%- include('partials/header.ejs') %> 
    
    <!-- FIN DE HEADER -->
    <main class="userProfile">
        <div class="avatar">
            <img src="/images/perfil/avatardefault.png" alt="">
        </div>
        <div class="userProfile-container">
            <div class="userProfile_box">
                <form id="formUserEdit" action="/users/useredit/<%= usuario.id %> ?_method=PUT" method="POST">
                    <label for="name">Nombre*</label>
                    <input type="text" id="name" value="<%= usuario.first_name %>" name="first_name" <%= useronline.rol == 1 || useronline.rol == 2? "readonly": "" %>>
                    <small class="validacionMal" id="nameError"></small>
                    <label for="apellido">Apellido*</label>
                    
                    <input type="text" id="apellido" value="<%= usuario.last_name %>" name="last_name" <%= useronline.rol == 1 || useronline.rol == 2? "readonly": "" %>>
                    <small class="validacionMal" id="apellidoError"></small>
                    <label for="direccion"  >Direccion</label>
                    <input type="text" id="direccion" name="direccion" value="<%= usuario.direction %>" <%= useronline.rol == 1 || useronline.rol == 2? "readonly": "" %>>
                    <label for="codigo">Codigo Postal</label>
                    <input type="text" id="codigo" name="codigo" value="<%= usuario.cp %>" <%= useronline.rol == 1 || useronline.rol == 2? "readonly": "" %>>
                    <label for="provincia">Provincia</label>
                    <input type="text" id="provincia" name="provincia" value="<%= usuario.province %>" <%= useronline.rol == 1 || useronline.rol == 2? "readonly": "" %>>
                    <label for="localidad">Localidad</label>
                    <input type="text"  id="localidad" name="localidad" value="<%= usuario.location%>" <%= useronline.rol == 1 || useronline.rol == 2? "readonly": "" %>>
                    <% if (useronline.rol == 2) { %>
                        <label for="rol">rol</label>
                        <select name="rol" id="rolEditForm">
                            <option value="0" <%= usuario.rol == 0? "selected": "" %> >USER</option>
                            <option value="1" <%= usuario.rol == 1? "selected": "" %>>ADMIN</option>
                        </select>
                    <% } %>
                    <button type="submit">EDITAR</button>
                    
                </form>

                <small class="validacionMal" id="totalError"></small>
                
            </div>
            
        </div>
    </main>
    <script src="/javascripts/validaciones/userprofile.js"></script>
</body>
</html>