<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
    
</head>
<body class="profile-body">
    <!-- HEADER -->
    
    <%- include('partials/header.ejs') %> 
    
    <!-- FIN DE HEADER -->
    <main class="userProfile">
       <div class="userData">
        <div class="tituloprofile">
            <h2>Editar Mi Cuenta</h2>
            <h3><%= usuario.email %></h3>
        </div>
        <div class="avatar">
            <%if (usuario.image != null && usuario.image != "") {%>
                <img class="card-img" src="/images/usersProfilePictures/<%= usuario.image %>" >
            <%} else {%>
                <img src="/images/perfil/avatardefault.png" alt="">
                <% } %>
        </div>
        <div class="userProfile-container">
            <div class="userProfile_box">
                <form id="formUserEdit" action="/users/useredit/<%= usuario.id %> ?_method=PUT" method="POST" enctype="multipart/form-data">
                    <label for="name">Nombre*</label>
                    <input type="text" id="name" value="<%= usuario.first_name %>" name="first_name" <%= useronline.rol == 1 || useronline.rol == 2? "readonly": "" %>>
                    <small class="validacionMal" id="nameError"></small>
                    <label for="apellido">Apellido*</label>
                    
                    <input type="text" id="apellido" value="<%= usuario.last_name %>" name="last_name" <%= useronline.rol == 1 || useronline.rol == 2? "readonly": "" %>>
                    <small class="validacionMal" id="apellidoError"></small>
                    <label for="direccion"  >Direccion</label>
                    <input type="text" id="direccion" name="direccion" value="<%= usuario.direction %>" <%= useronline.rol == 1 || useronline.rol == 2? "readonly": "" %>>
                    <% if (useronline.rol == 0) { %>
                        <label for="profilePicture"  >Foto de Perfil</label>
                        <input type="file" id="profilePicture" name="profilePicture"  accept="image/*">
                        <span>Si no tienes una foto , tomate una <a href="/users/cam" target="_blank"><i class="fas fa-camera-retro"></i></a></span>
                    <% } %>
                    <label for="codigo">Codigo Postal</label>
                    <input type="text" id="codigo" name="codigo" value="<%= usuario.cp %>" <%= useronline.rol == 1 || useronline.rol == 2? "readonly": "" %>>
                    <label for="provincia">Provincia</label>
                    <input type="text" id="provincia" name="provincia" value="<%= usuario.province %>" <%= useronline.rol == 1 || useronline.rol == 2? "readonly": "" %>>
                    <label for="localidad">Localidad</label>
                    <input type="text"  id="localidad" name="localidad" value="<%= usuario.location%>" <%= useronline.rol == 1 || useronline.rol == 2? "readonly": "" %>>
                    <% if (useronline.rol == 2) { %>
                        <label for="rol">rol</label>
                        <select name="rol" id="rolEditForm">
                            <option value="0" <%= usuario.rol == 0? "selected": "" %> >USER</option>
                            <option value="1" <%= usuario.rol == 1? "selected": "" %>>ADMIN</option>
                        </select>
                    <% } %>
                    <div>
                        <button type="submit" class="editprof editdata">EDITAR <i class="fas fa-user-edit"></i></button>
                        <a class="editprof editdata" href="/users/profile">Volver <i class="fas fa-undo"></i></a> 
                    </div>
                    
                </form>

                <small class="validacionMal" id="totalError"></small>
                
            </div>
            
        </div>
       </div>
    </main>
    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %> 
    <!-- FIN DE FOOTER -->
    <script src="/javascripts/validaciones/userprofile.js"></script>
</body>
</html>