<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
    
</head>
<body class="profile-body">
    <!-- HEADER -->
    
    <%- include('partials/header.ejs') %> 
    
    <!-- FIN DE HEADER -->
    <main class="userProfile">
        <div class="avatar">
            <img src="/images/perfil/avatardefault.png" alt="">
        </div>
        <div class="userProfile-container">
            <div class="userProfile_box">
                <h3 class="userProfile_title">Datos personales</h3>
                <p class="userProfile_item">Nombre: <%= userData.first_name + " " + userData.last_name %> </p>
                <p class="userProfile_item">Email: <%= userData.email %> </p>
            </div>
            <div class="userProfile_box">
                <h3 class="userProfile_title">Datos de contacto</h3>
                <p class="userProfile_item">Dirección:<%= userData.direction?userData.direction:"---" %>  </p>
                <p class="userProfile_item">Código postal:<%= userData.cp?userData.cp:"---" %>  </p> </p>
                <p class="userProfile_item">Provincia:<%= userData.province?userData.province:"---" %>  </p> </p>
                <p class="userProfile_item">Localidad:<%= userData.location?userData.location:"---" %>  </p> </p>
            </div>
            <div>
            <a  href="/users/useredit/<%= userData.id %>" class="editprof editdata">Editar Datos <i class="fas fa-user-edit"></i></a>
            <a  href="/users/passUpdate/<%= userData.id %>" class="editprof editdata">Editar Password <i class="fas fa-user-edit"></i></a>
            <a href="/users/logout" class="editprof logout">Cerrar Sesion <i class="fas fa-sign-out-alt"></i></a>
            <a href="/users/deleteUser" class="editprof logout">Borrar Cuenta <i class="fas fa-trash-alt"></i></a>

        </div>
        </div>
        
    </main>
</body>
</html>